$darkest-grey: #202020;
$dark-grey: #383838;
$grey: #434343;
$white: #ffffff;
$light-pink: #e493ff;
$main-pink: #c606a0;
$dark-pink: #ac008a;



$body-bg: $dark-grey;
$body-colour: $white;
$anchor-colour: $light-pink;

